/* color palette from <https://github.com/vuejs/theme> */
/* CreatDisplay Font Family */

/* Add italic variants similarly */
@font-face {
  font-family: 'CreatoDisplay';
  src: url('./fonts/CreatoDisplay-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

:root {
  --tams-bg-color-primary: #f4eddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--tams-bg-color-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'CreatoDisplay', sans-serif;
}
