@import './base.css';

/* Disable scrolling */
body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Add this new rule */
main {
  overflow: hidden;
  height: 100%;
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
