@import './base.css';

/* Disable scrolling */
body, html {
  overflow: hidden;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Add this new rule */
main {
  overflow: hidden;
  height: 100%;
  position: relative;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


.mtg-btn {
  background-color: var(--tams-bg-color-primary);
  position: relative;
  z-index: 99999;
  color: black;
  font-family: 'CreatoDisplay', sans-serif;
  border: solid 2px black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}